*{
    margin: 0;
    padding: 0; 
    font-family: "Inter", sans-serif;
}

 /* common-style */
 .container{
    max-width: 1200px;
    margin: auto;
}
.common-btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.text-1{
    font-size: 18px;
    font-weight: 200;
}
/* header */
.fst-nav{
    display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 12px 0;
     max-width: 1200px;
     margin: auto;
}

.fst-nav .fst-li{
    display: flex;
    text-decoration: none;
     list-style: none;
      gap: 50px;
      color: #575757;
}
/* hero section */
.hero-fst{
    text-align: center;
    background-image: url('../assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-top: 200px;
    padding-bottom: 80px;
}
.hero-fst h2{
    font-size: 80px;
    font-weight: 700;
    color: #FFFFFF;
}
.hero-fst p{
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 20px;
}
.hero-fst button{
    margin-top: 600px;
}
/* speaker section */
.speaker-heading{
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin-top: 60px;
}
.card-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.card-1{
    border: 1px solid #E5E7EB;
    border-radius: 18px;
    overflow: hidden;
    
}
.card-text{
    margin-top: 5px;
    padding: 20px;
}
.card-text span{
    color: #007bff;
    font-weight: 500;
}
.card-text h3{
    color: #0D1B2A;
    font-weight: bold;
    margin-top: 10px;
}
.card-text p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 200;
}
/*  Secure Your Spot (Pricing) Section */
.pricing-header p{
    text-align: center;
    margin-top: 15px;
}
.card-conatiner2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 60px;
    gap: 5px;
}
.card-in{
    padding: 20px 30px;
    background-color: #fbfbfb;
    /* margin-top: 30px  !important; */
    /* margin-bottom: 30px  !important; */
}
.card-in p{
    color: #888888;
    font-size: 12px;
    font-weight: 400;
    margin: 8px 0;
}
.card-in .second{
    font-size: 10px;
    font-weight: 400;
}
.card-in h3{
    font-size: 40px;
    font-weight: 800;
    color: #0D1B2A;
}
.card-in ul{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    margin-left: 15px  !important;
}
.card-in ul li::marker{
    color: #2563EB;
}
.card-in ul li{
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    /* display: flex;/ */
    /* flex-direction: column;/ */
    margin-bottom: 10px;
}
.card-in .btn-2{
    background-color: #E5E7EB;
    color: #333333;
    padding: 10px 100px;
    border-radius: 7px;
    border: 1px solid #333333;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
.card-in hr{
    border: none;
    height: 1px;
    width: 100%;
    margin-top: 8px;
    background-color: #d3def4;
}
.card-in .btn-3{
    background-color: #FFFFFF;
    color: #333333;
    padding: 10px 100px;
    border-radius: 7px;
    border: 1px solid #2563EB;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.card-inbg1{
    background-color: #0D1B2A !important;
}
.card-in .excpt2{
    color: #FFFFFF !important;
}
.card-in .excpt{
    color: #2563EB;
}
.card-in .btn-4{
    /* color: #333333;/ */
    padding: 10px 100px;
    border-radius: 7px;
    /* border: 1px solid #2563EB;/s */
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}
.card-in .excpt3 li{
    color: #FFFFFF !important;
}

